<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yamifood Restaurant</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- custom css -->
    <link rel="stylesheet" href="assets/css/index.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        body{
        font-family: 'Athiti', sans-serif;
        }
        header{
            background-image: linear-gradient(rgba(20,30,20,0.8),rgba(20,30,20,0.8)),url('https://cdn.stocksnap.io/img-thumbs/280h/strawberry-food_PROXEBKRSP.jpg');
            height: 60vh;
            margin-top:15vh;
            background-size: 100%;
            background-position: 50% 50%;
        }
        .btn-border-main{
            background-color: inherit;
            color: whitesmoke;
            border: 3px solid rgb(207, 166, 113);
        }
        .main-text{
            color: rgb(207, 166, 113);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand"><img src="assets/logo.png" alt=""></a>
            <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navmenu" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#learn" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#questions" class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="#questions" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#instructors" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-light d-flex align-items-center justify-content-center">
        <h1>About Us</h1>
    </header>
    <section class="welcome p-4 my-5 row align-items-start justify-content-between">
        <img src="https://www.brbene.com/public/theme/images/about-img.jpg" class="col-md-6" alt="">
        <div class="story text-center col-md-6">
            <h2>Welcome To <span class="main-text">Yamifood Restaurant</span></h2>
            <p>Little Story</p>
            <p class="lead">The taste of quality and luxury with Yamifood Enjoy a unique experience when you visit our restaurant and enjoy the unique taste of all our dishes. The finest ingredients the best chefs Best catering service The highest level Hygiene</p>
            <p class="lead">
                Located within the Rally Hotel, across 20th Street from Coors Field, we offer a dining experience for both the young and young at heart, complete with upcoming original affairs like themed brunches; an engaging dinner series with special guests; one-of-a-kind dessert collaborations; and more. 
            </p>
        </div>
    </section>
    <footer class="text-center main-text p-4 bg-dark">
        All Rights Reserved. © 2022 Yamifood Restaurant
    </footer>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

<!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
</html>
