{{template "base" .}}

{{define "content"}}
    <div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        you have just register new account you can login from <a href="/login">here</a>
    </div>
{{end}}